<nz-layout class="layout">
  <nz-header>
    <div class="logo">
      <img src="assets/logo.svg" alt="Logo" width="120" height="31">
    </div>
  </nz-header>
  <nz-content style="padding: 0 50px;">
    <div style="line-height: 64px; display: flex; align-items: center;">
      <button nz-button (click)="showMainPointModal()">Main Point</button>
      <button nz-button (click)="showAdditionalPointsModal()">Additional Points</button>
    </div>
  </nz-content>
  <nz-footer style="text-align: center;">
    Angular Map Application ©2025 Created using NG-ZORRO
  </nz-footer>
</nz-layout>
