<form nz-form [formGroup]="mainPointForm" (ngSubmit)="onSubmitMainPoint()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" [nzFor]="'latitude'" nzRequired>Latitude</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter a valid latitude">
      <input nz-input formControlName="latitude" type="text" id="latitude" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24"  [nzFor]="'longitude'" nzRequired>Longitude</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter a valid longitude">
      <input nz-input formControlName="longitude" type="text" id="longitude" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" [nzFor]="'radius'" nzRequired>Radius</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter a valid radius">
      <input nz-input formControlName="radius" type="text" id="radius" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="primary-button">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" type="submit">Update Main Point</button>
    </nz-form-control>
  </nz-form-item>
</form>
  